body {
	padding-top:5em;
}

/*RESPONSIVE.html styles*/

* {
	margin: 0;
	padding:0;
	-webkit-font-smoothing:antialiased;
}

body {
	font: 100%/1.5em Helvetica, Arial, sans-serif;
	color:#002A80;
}

.container {
	width:960px;
	margin:0 auto;	
}

.container.fluid {
	width:100%;
	margin:0 auto;	
}

.container .columns {
	float:left;
	background:grey;
	margin: 0 0 1em;
}

.container .columns:hover {
	opacity: .5;
}

.container .columns.one 	{ 	width:6.25% }
.container .columns.two 	{ 	width:12.5% }
.container .columns.three 	{ 	width:18.75% }
.container .columns.four 	{ 	width:25% }
.container .columns.five 	{   width:31.25%}
.container .columns.six 	{   width:37.5%}
.container .columns.seven 	{   width:43.75%}
.container .columns.eight 	{   width:50%}
.container .columns.nine 	{   width:56.25%}
.container .columns.ten {width:62.5%}
.container .columns.eleven {width:68.75%}
.container .columns.twelve {width:75%}
.container .columns.thirteen {width:81.25%}
.container .columns.fourteen {width:87.5%}
.container .columns.fifteen {width:93.75%}
.container .columns.sixteen {width:100%}
